Antoine/Interopérabilité/tpschema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="films" type="filmsType">
    <xs:key name="id">  
        <xs:selector xpath="acteurDescription"/>  
        <xs:field xpath="@id"/>  
    </xs:key>
    <xs:keyref name="ref" refer="id">  
        <xs:selector xpath="acteurDescription"/>  
        <xs:field xpath="@id"/>  
    </xs:keyref>
</xs:element>
<xs:element name="acteursDescription" type="acteursDescType"/>
    <xs:complexType name="filmsType">
        <xs:sequence>
            <xs:element name="film" type="filmType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="acteurs" type="acteursType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acteursType">
        <xs:sequence>
            <xs:element name="acteurDescription" type="acteursDescType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acteursDescType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="dateNaissance" type="xs:string"/>
            <xs:element name="sexe" type="xs:string"/>
            <xs:element name="lieuNaissance" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="filmType">
        <xs:sequence>
            <xs:element name="titre" type="xs:string"/>
            <xs:element name="duree" type="dureeType"/>
            <xs:element name="nationalite" type="xs:string"/>
            <xs:element name="genres" type="genresType"/>
            <xs:element name="realisateur" type="xs:string"/>
            <xs:element name="acteurs" type="acteurType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="scenario" type="scenarioType"/>
            <xs:element name="exploitation" type="exploitationType"/>
            <xs:element name="image" type="imageType"/>
        </xs:sequence>
        <xs:attribute name="annee" type="xs:string"/>
        <xs:attribute name="visa" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="dureeType">
        <xs:simpleContent>
            <xs:extension base="xs:positiveInteger">
            <xs:attribute name="unite" type="xs:string"/>
        </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="genresType">
        <xs:sequence>
            <xs:element name="genre" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acteurType">
        <xs:sequence>
            <xs:element name="acteur" type="acteurType2" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acteurType2">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="scenarioType" mixed="true">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="keyword" type="xs:string"/>
            <xs:element name="ev" type="xs:string"/>
            <xs:element name="personnage" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="exploitationType">
        <xs:sequence>
            <xs:element name="datesortie" type="xs:string"/>
            <xs:element name="nbsalles" type="xs:string"/>
            <xs:element name="nbentrees" type="xs:string"/>
            <xs:element name="pays" type="paysType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="paysType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="imageType">
        <xs:attribute name="href" type="xs:string"/>
    </xs:complexType>
</xs:schema>